{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!--
     - Roxy: Bootstrap template by GettTemplates.com
     - https://gettemplates.co/roxy
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IMS</title>
    <meta name="description" content="Roxy">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- favicon icon -->
<link rel="icon" type="image/x-icon" href="../static/pic/nike-removebg-preview.png">
    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/lightcase/lightcase.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'asset/style.min.css' %}">
   
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

</head>
<body data-spy="scroll" data-target="#navbar" class="static-layout">
	<nav id="header-navbar" class="navbar navbar-expand-lg py-4">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center text-white" href="/">
                <h3 class="font-weight-bolder mb-0">IMS</h3>

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header" aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lnr lnr-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-nav-header">
                <ul class="navbar-nav ml-auto">
             
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron d-flex align-items-center">
        <div class="container text-center">
            <h1 class="display-1 mb-4"><a href="{% url 'dashboard' %}" >IMS</a></h1>
        </div>
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-transparent-1"></div>
        <div class="rectangle-transparent-2"></div>
        <div class="circle-1"></div>
        <div class="circle-2"></div>
<div class="circle-4"></div>
    <div class="triangle triangle-1">
        <img src="static/pic/obj_triangle.png" alt="">
    </div>
    <div class="triangle triangle-2">
        <img src="static/pic/obj_triangle.png" alt="">
    </div>
    <div class="triangle triangle-3">
        <img src="static/pic/obj_triangle.png" alt="">
    </div>
    <div class="triangle triangle-4">
        <img src="static/pic/obj_triangle.png" alt="">
    </div>
</div>
</div>	<!-- Features Section-->

<!-- End of Features Section-->	<section id="section-featurettes" class="featurettes overlay bg-fixed" style="background-image: url(img/bg.jpg);">

   

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="{% static 'js/ootstrap/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/stellar/jquery.stellar.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/isotope/isotope.min.js' %}"></script>
<script src="{% static 'js/lightcase/lightcase.js' %}"></script>
<script src="{% static 'js/waypoints/waypoint.min.js' %}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>








	<!-- Main JS -->
    <script src="{% static 'js/app.min.js' %}"></script>
	
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
