{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IMS</title>
    <!-- favicon icon -->
    <link rel="icon" type="image/x-icon" href="../static/pic/nike-removebg-preview.png">
    
    <link rel="stylesheet" href="{% static '../static/asset/sale.css' %}?v=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
   <!-- Montserrat Font -->
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  
   <!-- Material Icons -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
   <link rel="stylesheet" href="css/styles.css">
   <!-- bootstarrp -->
   
   <!-- <!–Jquery CDN link –> -->
   {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> {% endcomment %}
   
  </head>
  <body>
    
    <nav>
      <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">IMS</span>
      </div>
      <div class="navv">
        <a href="#about">Mega Menu</a>
      </div>
      <div class="navv">
        <a href="#about">Store</a>
      </div>
      <div class="navv">
        <a href="#about">Profile</a>
      </div>
      <div class="sidebar">
        <div class="logo">
          <i class="bx bx-menu menu-icon"></i>
          <span class="logo-name">IMS</span>
        </div>
        <div class="sidebar-content">
          <ul class="lists">
            <li class="list">
              <a href="{% url 'dashboard' %}" class="nav-link">
                <i class="bx bx-home-alt icon"></i>
                <span class="link">Dashboard</span>
              </a>
            </li>
            <li class="list">
              <a href="{% url 'product' %}" class="nav-link">
                <i class="bx bxs-shopping-bags icon"></i>
                <span class="link">Products</span>
              </a>
              </li>
              <li class="list">
                <a href="{% url 'supplier' %}"class="nav-link">
                  <i class="bx bx-user-pin icon"></i>
                  <span class="link">Supplier</span>
                </a>
              </li>
              <li class="list">
                <a href="{% url 'purchase' %}" class="nav-link">
                  <i class="bx bx-bar-chart-alt-2 icon"></i>
                  <span class="link">Purchase</span>
                </a>
              </li>
              <li class="list">
                <a href="{% url 'sale' %}" class="nav-link">
                  <i class="bx bx-pie-chart-alt-2 icon"></i>
                  <span class="link">Sales</span>
                </a>
              </li>
              <li class="list">
                <a href="{% url 'inventory' %}" class="nav-link">
                  <i class="bx bx-folder-open icon"></i>
                  <span class="link">Inventory</span>
                </a>
              </li>
              {% comment %} <li class="list">
                <a href="{% url 'customer' %}" class="nav-link">
                  <i class="bx bx-male icon"></i>
                  <span class="link">Customer</span>
                  
                </a>
              </li> {% endcomment %}
          </ul>
          <div class="bottom-cotent">
            <li class="list">
              <a href="#" class="nav-link">
                <i class="bx bx-cog icon"></i>
                <span class="link">Settings</span>
              </a>
            </li>
            <li class="list">
              <a href="#" class="nav-link">
                <i class="bx bx-log-out icon"></i>
                <span class="link">Logout</span>
              </a>
            </li>
          </div>
        </div>
      </div>
    </nav>
    <section class="overlay"></section>
     <!-- Main -->
     <main class="main-container">
      <div class="main-title">
        <h2 class="h2">SALES</h2>       
      </div>
      <br>
      
    <br>
      <div class="forms-pro" >
        <h2>
          AVAILABLE PRODUCTS 
            </h2>
            <section>
              <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                  <thead>
                    <tr>

                      <th >Product ID</th> 
                      <th >Add product</th>      
                      
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                   
                    {% for each_item in product %}
                    
                    <td>{{ each_item.pro_id}}</td>
                   <td>
                    <form method="post" action="{% url 'add_to_cart_sale' %}">{% csrf_token %}
                      <!-- Form fields and other content -->
                      <input type="hidden" name="pro_id" value="{{ each_item.pro_id }}">
                      <button type="submit">Add to Cart</button>
                  </form>
                  </td> 
                  <td><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><i class="bx bx-user-pin icon"><br></i>Add Details</button></td>
                    {% comment %}            
                      <td> <a class="bt-1"href="{% url 'delete_purchase' each_item.p_id %}">Delete</a></td> {% endcomment %}
                    
                    </tr>
                   
                    {% endfor %}
                    {% comment %} href="{% url 'update_product' each_item.aname %}" {% endcomment %}
                  </tbody>
                </table>
              </div>
            </section>
        <h2>SALES</h2>

        <p>Added sales show here</p>
     

        <section>
          <!--for demo wrap-->
         
          <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
              <thead>
                <tr>
               
                  <th >SALES ID</th>
                  <th >PRODUCT ID</th>
                  <th >PRICE</th>
                  <th >QUANTITY</th>
                  <th>TOTAL PRICE</th>
                 

                  <th >SALE DATE</th>

                  <th>Delete</th>
                  <th>Update</th>
                  {% comment %} <th >TOTAL AMOUNT</th> {% endcomment %}
                

              
               
               
                </tr>
              </thead>
            </table>
          </div>
          <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
               
                {% for each_item in sale %}
                <td>{{ each_item.sal_id}}</td>
                  <td>{{ each_item.pro_id }}</td>
                  <td>{{ each_item.sal_price }}</td>
                  <td>{{ each_item.sal_quan }}</td>
                  <td>{{ each_item.sal_total}}</td>
                 
                  <td>{{ each_item.sal_date }}</td>
                  <td> <a class="bt-1"href="{% url 'delete_sale' each_item.sal_id %}">Delete</a></td>
                  <td> <a class="bt-1"href="{% url 'update_sale' each_item.sal_id %}" > Update
                    
                  </a></td>
                </tr>
               
                {% endfor %}
                {% comment %} href="{% url 'update_product' each_item.aname %}" {% endcomment %}
              </tbody>
            </table>
          </div>
        </section> 
      </div>
      {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  
{% endif %}
{% comment %} charts {% endcomment %}
<br>
<div class="charts">
    <div class="charts-card">
      <h2 class="h2">Sales Orders</h2>
      <div id="area-chart"></div>
    </div>
  
</div>
    </main>

    
    
    <!-- follow me template -->
    {% comment %} <div class="made-with-love">
      Made with
      <i>♥</i> by
      <a target="_blank" href="https://codepen.io/nikhil8krishnan">Nikhil Krishnan</a>
    </div> {% endcomment %}
    <!-- End Main -->

  <!-- pop up -->

  
  <div id="id01" class="modal">
    
    <form class="modal-content animate" action="{% url 'save_sale' %}" method="post">{% csrf_token %}
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
   <div class="text">
              Sales Details
            </div>
      </div>
     
      <div class="container">
       
        <label for="sal_price"><b>Enter price</b></label>
        <input type="number" placeholder="Enter price..." id="sal_price" name="sal_price" min="1" required>
        <label for="sal_quan"><b>Enter Quanity</b></label>
        <input type="number" placeholder="Enter Quanity..." id="sal_quan" name="sal_quan" min="1" required>
 

        <div class="btn">
          <div class="inner"></div>
          <button type="submit">Save</button>
       </div>
      </div>
  
        
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        
      </div>
    </form>
  </div>
  
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
    
 <!-- scripts -->

 <script src="{% static 'js/java.js' %}"></script>
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>

    <script src="{% static 'js/sale.js' %}"></script>
  </body>
  
</html>